* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Секция №2 */

.main-content {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 1170px;
}

.container-header__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 50px;
}

.container-header__line {
  border-bottom: 1px solid #ec7979;
  margin: 0 auto 40px;
  width: 170px;
}

.container-header__description {
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 70px;
}

.block-list {
  list-style: none;
}

.block-list-item {
  display: inline-block;
  margin-right: 30px;
  width: 367px;
}

.block-list-item:last-child {
  margin-right: 0;
}

.block-list-item__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 40px 0 45px 0;
}

.block-list-item__info {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Секция №1 */

.tab-list {
  font-size: 0;
  list-style: none;
  text-align: left;
}

.tab-item {
  display: inline-block;
}

.tab-item__button {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-radius: 5px 5px 0 0;
  border-right: none;
  border-top: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  width: 203px;
}

.tab-item__button--active {
  border: 1px solid #c6cbcd;
  border-bottom: 1px solid #fff;
  transform: translateY(1px);
}

.tab-content {
  border: 1px solid #c6cbcd;
  font-size: 0;
}

.tab-content-block {
  display: inline-block;
  vertical-align: top;
  padding: 0px 50px 0px 100px;
  text-align: left;
  width: calc(100% - 500px);
}

.tab-content__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
  padding-top: 35px;
  text-align: left;
}

.tab-content__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  text-align: left;
}

.tab-content__description:first-of-type {
  margin-bottom: 20px;
}

.tab-content__button {
  background-color: #ec7979;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 58px;
  margin-bottom: 50px;
  width: 230px;
}

.tab-content__button:hover {
  background-color: #c6cbcd;

}

.tab-content-img {
  background-image: url(./images/statue-of-liberty.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 470px;
  width: 500px;
}
