.header {
  background: rgba(0, 0, 0, 1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.container_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.logo {
  display: flex;
}

.logo__img {
  max-width: 100%;
}

.nav {
  display: flex;
}

.nav__link {
  color: #ffffff;
  display: flex;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 30px;
  text-decoration: none;
}

.header-burger {
  background-image: url(../images/Vector.svg);
  background-size: cover;
  background-position: center;
  display: none;
}

@media (max-width: 715px) {
  .nav {
    display: none;
  }
  .header-burger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: 18px;
    margin-right: 35px;
    width: 24px;
  }
}
