.block-list {
  display: flex;
  list-style: none;
}

.block-list-item {
  margin-right: 30px;
  width: 367px;
}

.block-list-item:last-child {
  margin-right: 0;
}

.block-list-item__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 40px 0 45px 0;
}

.block-list-item__info {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1220px) {
  .block-list-item__title {
    font-size: 18px;
  }
  .block-list-item__info {
    font-size: 14px;
  }
  .block-list-item__img {
    width: 150px;
  }
}

@media (max-width: 715px) {
  .block-list-item {
    margin-right: 0;
  }
  .block-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
