.reviews {
  column-gap: 30px;
  display: flex;
  justify-content: center;
}

.review__comment {
  background-color: rgba(226, 226, 226, 1);
  border-radius: 10px;
  color: rgba(134, 135, 139, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 65px;
  padding: 40px 10px;
  position: relative;
}

.review__comment::after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgba(226, 226, 226, 1);
  content: "";
  height: 0;
  position: absolute;
  left: 70px;
  top: 100%;
  width: 0;
}

.person {
  align-items: flex-start;
  display: flex;
  text-align: left;
}

.person-data {
  padding-top: 10px;
}

.person__img {
  margin-right: 30px;
}

.person-data__fullname {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.person-data__job {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.review-nav {
  display: none;
}

@media (max-width: 1220px) {
  .review__comment {
    font-size: 14px;
  }
  .person-data__fullname {
    font-size: 18px;
  }
  .person-data__job {
    font-size: 14px;
  }
}

@media (max-width: 715px) {
  .review:first-of-type,
  .review:last-of-type {
    display: none;
  }
  .review {
    width: 70%;
  }
  .review-nav {
    column-gap: 50px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .review-nav__item {
    border: 1px solid rgba(134, 135, 139, 1);
    border-radius: 50px;
    height: 15px;
    width: 15px;
  }
  .review-nav__item_active {
    background-color: rgba(134, 135, 139, 1);
  }
}
