.reviews {
  column-gap: 30px;
  display: flex;
  justify-content: center;
}

.review__comment {
  background-color: rgba(226, 226, 226, 1);
  border-radius: 10px;
  color: rgba(134, 135, 139, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 65px;
  padding: 40px 10px;
}

.review__comment::after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgba(226, 226, 226, 1);
  content: "";
  height: 0;
  position: relative;
  right: 145px;
  top: 80px;
  width: 0;
}

.person {
  align-items: flex-start;
  display: flex;
  text-align: left;
}

.person__wrapper {
  padding-top: 10px;
}

.person__img {
  margin-right: 30px;
}

.person__fullname {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.person__job {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
