* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
  padding-top: 80px;
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 1170px;
}

.container_wide {
  padding-top: 100px;
}

.container-header__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.container-header__line {
  border-bottom: 1px solid #ec7979;
  margin: 0 auto 40px;
  width: 170px;
}

.container-header__description {
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 70px;
}

.wrapper-fullback__button-white {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 58px;
  width: 370px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}

.wrapper-fullback__button-white_hover:hover {
  border: 2px solid rgba(236, 121, 121, 1);
  color: rgba(236, 121, 121, 1);
}

.wrapper-fullback__button-white_active:active {
  border: 2px solid rgba(171, 73, 73, 1);
  background-color: rgba(171, 73, 73, 1);
  color: rgba(255, 255, 255, 1);
}
