.tab-list {
  font-size: 0;
  list-style: none;
  text-align: left;
  display: flex;
}

.tab-item__button {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-radius: 5px 5px 0 0;
  border-right: none;
  border-top: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  width: 203px;
}

.tab-content {
  border: 1px solid #c6cbcd;
  font-size: 0;
  display: flex;
  justify-content: center;
}

.tab-content-block {
  padding: 0px 50px 0px 100px;
  text-align: left;
  width: calc(100% - 500px);
}

.tab-content__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
  padding-top: 35px;
  text-align: left;
}

.tab-content__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  text-align: left;
}

.tab-content__description:first-of-type {
  margin-bottom: 20px;
}

.tab-content__button {
  background-color: #ec7979;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 58px;
  margin-bottom: 50px;
  width: 230px;
}

.tab-content__button_hover:hover {
  background-color: rgba(171, 73, 73, 1);
  border: 2px solid rgba(171, 73, 73, 1);
  transition: 0.3s;
}

.tab-content__button_active:active {
  box-shadow: 0px 0px 10px 0px rgba(171, 73, 73, 1) inset;
  background-color: #ec7979;
  color: #fff;
}

.tab-content-img {
  background-image: url(../images/statue-of-liberty.png);
  background-size: cover;
  background-position: center;
  height: 470px;
  width: 500px;
}
